.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat (4, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas:
        "hd hd hd hd"
        "lb1 img1 img1 img1"
        "ln1 ln1 ln1 ln1"
        "lb2 fb2 fb2 fb2"
        "ln2 ln2 ln2 ln2"
        "img3 img3 rb3 rb3"
        "ln3  ln3 ln3 ln3";
    row-gap: 0.5vh;
    margin: 0 1%;
}

.header {
    grid-area: hd;
}

.left_block1 {
    grid-area: lb1;
}

.img_block1 {
    grid-area: img1;
    top: -69.27px;
}

.line1 {
    grid-area: ln1;
}

.left_block2 {
    grid-area: lb2;
}

.right_block2 {
    grid-area: fb2;
    margin-top: 5%;
}

.line2 {
    grid-area: ln2;
}

.img_block3 {
    grid-area: img3;
    left: -66px;
}

.right_block3 {
    grid-area: rb3;
    margin-right: 4%;
}

.line3 {
    grid-area: ln3;
}

/* флекс-блоки, начиная с 4 секции */
.flex_section4, .flex_section5, .flex_section6 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    gap: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.left_block5, .right_block5 {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 36px;
    padding: 3% 3%;
    margin: 2%;
    box-sizing: 20vw;
}

.left_block4 {
    flex-basis: 35vw;
    margin-left: 2vw;
}

.right_block4 {
    margin-right: 5vw;
}

.line1,
.line2,
.line3,
.line4 {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}

/* футер */

.flexfooter1 {
    display: flex;
    height: 30vh; 
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 3%;
}
.flexfooter2 {
    display: flex;
    height: 10vh;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

/* размещение заголовка и лого */
.grid_title {
    display: grid;
    width: 100%;
    grid-template-columns: repeat (9, 1fr);
    grid-template-areas:
        "t t t t t t t t t"
        ". . . lg ."
        ". . . noi.";
    justify-content: start;
}

.logo {
    grid-area: lg;
    z-index: 1;
    margin-left: 6%;
    margin-top: -5%;
}

.title {
    grid-area: t;
    z-index: 0;
}

.noi {
    grid-area: noi;
    z-index: 2;
    margin-left: 7.5%;
    margin-top: -2.3%;
}

/* флекс-меню  и флекс-футер  */
.mainmenu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    list-style: none;
}

.menu, .documents  {
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}

.mainmenu a, .menu a {
    text-decoration: none;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    
}

.mainmenu a {
    font-size: 19px;
}

.menu a {
    font-size: 24px;
    padding-left: 5%;
}

.mainmenu li:hover {
    background: rgb(58, 59, 57);
    color: #fff;
    transition: .5s;
    border-radius: 100px;
}

.mainmenu li, .menu li {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 100px;
    margin-right: 1%;
    margin-bottom: 2%;
    padding: 1% 1%;
}

.home {
    background-color: #000000;
}

.home a {
    color: #fff;
}

.sign_up, .sign_up1  {
    background-color: #99FF91;
}

.link2 a,
.sign_up1 a {
    color: #000000;
}

.documents a {
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0.2px;
text-decoration-line: underline;
padding: 3%;
color: #000000;
}

.slogan_block {
    flex: 0 1 40% ;
}

.menu {
    flex: 0 1 20%;
}

/* флекс-блоки 1,2,3 */

.flex123 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1%;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 36px;
    width: 80%;
    padding: 5px 5px;
}

.flex1 {
    margin: 1%;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 36px;
    width: 80%;
    padding: 5px 5px;
}


/* типографика основного текста страницы */
h1,
h2,
.onetext,
h3,
h4,
h5,
.inscrie, 
.slogan, 
address, .documents a, .mainmenu a, .menu a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 150px;
    line-height: 100%;
    letter-spacing: 2.8px;
}

.onetext {
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
}

h2 {
    font-weight: 700;
    font-size: 98px;
    line-height: 100%;
    letter-spacing: 2.8px;
}

h3 {
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: 0.5px;
    margin: 0%;
}

h4 {
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: 0.2px;
    margin: 0%;
}

h5 {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}
.urmeaza, .paragraph {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
.urmeaza {
    font-size: 28px;
    line-height: 120%;
}

.paragraph {
    font-size: 18px;
    line-height: 150%;
}

.inscrie {
    font-weight: bold;
    font-size: 48px;
    line-height: 110%;
    text-transform: uppercase;
}

.slogan {
    font-weight: 700;
font-size: 36px;
line-height: 120%;
}

/* кнопки и формы */
.button_green,
.mai_mult_button, .contact_us, .contact_us_white, .contact_us_violet, .sign_up {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    padding: 1% 2%;
    margin-right: 3%;
}

.button_green,
.mai_mult_button, .contact_us, .contact_us_white, .contact_us_violet {
    font-size: 21px;
}

.button_green, .sign_up {
    background: #99FF91;
}

.button_green, .mai_mult_button, .contact_us_white, .contact_us_violet, .contact_us {
    border-radius: 100px;
}

.sign_up {
    font-size: 36px;
}

.mai_mult_button, .contact_us_white {
    background: #FFFFFF;

}
.contact_us {
    background: #FFE8A3;

}
.contact_us_violet {
    background: #B3B5FF;
}

.inter_now {
    background: linear-gradient(180deg, #99FF91 0%, #61D1F2 100%);
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 36px;
    width: 80%;
    height: 80%;
    text-align: left;
    padding-left: 4%;
    position: relative;
    margin-left: 5%;
}

.textarea {
    font-family: 700 14px 'Roboto', sans-serif;
    width: 80%;
    height: 35%;
    opacity: 0.2;
    display: inline-block;
    overflow-wrap: break-word;
    resize: auto;
    margin-bottom: 1%;
}

.maideparte {
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 3% 36%;
    position: relative;
}



body {
    background-color: #CACACA;
}